footer {
    background: url('../img/fundo-footer-teste-programador.png.jpg');
    background-size: cover;
    padding: 90px 110px 40px 110px;
    color: var(--color-white);
    font-size: var(--font-size-footer);
}

.footer-container {
    max-width: var(--footer-max-width);
    margin: 0 auto;
    /* Adiciona padding horizontal para unificar o espaçamento */
    padding: 0 var(--padding-left);
    display: flex;
    align-items: flex-start;
}

.footer-logo {
    flex: 1;
    margin-top: 5px;
}

.footer-logo h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: var(--footer-spacing-16);
}

/* Remove margens extras para que os itens fiquem mais próximos */
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 1.2em;
}

.footer-links a {
    text-decoration: none;
    color: var(--color-white);
    transition: color var(--transition-duration);
    line-height: 1;
}

.footer-icon {
    height: 1.2em;
    width: auto;
    vertical-align: middle;
    margin-right: var(--footer-spacing-16);
}

.footer-links a:hover {
    color: var(--color-purple);
    text-shadow: var(--footer-text-shadow);
}

/* Removido margin-left e utilizando o gap do flex para espaçamento */
.footer-columns {
    margin-top: 10px;
    display: flex;
    gap: var(--footer-gap-columns);
}

.footer-column h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 1em;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    line-height: 1;
    margin-bottom: 2em;
}

.footer-column ul li a {
    text-decoration: none;
    color: var(--color-white);
    transition: color var(--transition-duration);
    font-size: var(--font-size-footer);
    font-weight: 400;
}

.footer-column ul li a:hover {
    color: var(--color-purple);
    text-shadow: var(--footer-text-shadow);
}

.footer-bottom {
    max-width: var(--footer-max-width);
    margin: 80px auto 0;
    padding: 20px 110px 0 110px; 
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 45px; 
    right: 45px; 
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-bottom-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
}

.footer-bottom p {
    margin: 0;
    margin-left: -65px;
    font-size: var(--font-size-footer);
}

.footer-social {
    display: flex;
    margin-right: -65px;
    gap: var(--footer-social-gap);
}

.footer-social a {
    text-decoration: none;
}

.social-icon {
    height: 16px;
    width: auto;
    vertical-align: middle;
}