/* Global resets, variables, and base styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
  /* Font */
  --font-family: 'Montserrat', sans-serif;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #5A5A5A;
  --color-dark: #333;
  --color-border: #eee;
  --color-purple: #5414a4;
  --color-blue: #4285F4;
  --color-darker-blue: #596fee;
  --color-lighter-blue: #2ce4fc;

  /* Transition and size */
  --padding-left: 3rem;
  --spacing-20: 20px;
  --font-size-base: 16px;
  --border-radius: 4px;
  --transition-duration: 0.3s;
  --transition-timing: ease-in-out;
  --gradient-angle: 45deg;

  /* Variáveis específicas para o footer */
  --font-size-footer: 14px;
  --footer-horizontal-padding: 120px;
  --footer-max-width: 1200px;
  --footer-spacing-16: 16px;
  --footer-text-shadow: 0 0 8px var(--color-white), 0 0 12px var(--color-white);
  --footer-gap-columns: 50px;
  --footer-social-gap: 15px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Just to ensure that html and body occupy 100% of the viewport height */
html, body {
  height: 100%;
}

/* Configure the body to use flexbox and organize elements in columns */
body {
  font-family: var(--font-family);
  background-color: var(--color-white);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
}

/* The main content take up the available space to push the footer to the end */
main {
  flex: 1;
}