/* styles.css */
/* Global resets, variables, and base styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #5A5A5A;
  --color-dark: #333;
  --color-border: #eee;
  --color-purple: #5414a4;
  --color-blue: #4285F4;
  --color-darker-blue: #596fee;
  --color-lighter-blue: #2ce4fc;

  --padding-esquerdo: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para garantir que html e body ocupem 100% da altura da viewport */
html, body {
  height: 100%;
}

/* Configura o body para usar flexbox e organizar os elementos em coluna */
body {
  font-family: var(--font-family);
  background-color: var(--color-white);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
}

/* O conteúdo principal deve ocupar o espaço disponível para empurrar o footer para o final */
main {
  flex: 1;
}
